
div{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: start;
    border-radius: 20px;
    box-shadow: 10px 5px 30px grey;
    height: 700px;

}
img{
    margin: 5px;
    border: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 100%;
}